.intro-section {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.intro-text {
    flex: 1; 
    font-size: 2rem; /* Increase the font size here */
    line-height: 1.5;
    max-width: 600px;
    padding-left: 50px;
    
}

.intro-image img {
    max-width: 80%; 
    height: auto; 
}

#map-container {
    width: 100%;
    height: 600px;
    max-width: 800px;
    margin: 0 auto;
}

svg {
    width: 100%;
    height: auto; 
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue; 
    border: 1px;
    border-radius: 8px;
    pointer-events: none; 
    color:black
}

#line-graph-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.line {
    fill: none;
}

.vegans {
    stroke: greenyellow;
    stroke-width: 2px;
}

.vegetarians {
    stroke: orange;
    stroke-width: 2px;
}

.x-axis path,
.y-axis path {
    display: none;
}