
button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #baf2c4;
    color: #000000;
    border: 2px solid #000000;
    transition: background-color 0.3s;
    font-family: 'Archivo Black';
}

button:hover {
    background-color: #dc863f;
    transform: scale(1.1);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    text-align: center; 
    margin-bottom: 20px; 

}

header .logo img {
    max-width: 200px; 
    height: auto;
    margin-right: 5px; 
}

header .logo {
    display: inline-block;
}

/* section heading for each page*/
#heading-section {
    position: relative;
    width: 100%;
    height: 200px; 
    background-color: #46f26b;
    background-size: cover;
    background-position: center;
}
  
/* title*/
#heading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 
        -2px -2px 0 #000,  /*This shifts the shadow 2px to the top-left*/
         2px -2px 0 #000,  /*This shifts the shadow 2px to the top-right*/
        -2px  2px 0 #000, /*This shifts the shadow 2px to the bottom-left*/
         2px  2px 0 #000; /*This shifts the shadow 2px to the bottom-right*/
} 

footer {
    background-color: #46f26b;
    color: #575555;
    text-align: center;
    padding: 40px 0;
    width: 100%;
}

footer .container {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-content {
    font-size: 16px;
}


footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-content {
    font-size: 18px;
    
    font-family: 'Roboto';
}

footer .social-links {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links li a {
    color: #4f4f4f;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Quicksand';
}

footer .social-links li a:hover {
    text-decoration: underline;
}


